body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header, footer {
  background-color: #f2f2f2;
  padding: 20px;
}

h2 {
  color: #8a11ee;
}

footer p {
  color: rgb(238, 20, 173);
  font-size: 14px;
}

.site-title {
  color:#8a11ee;
}

#my-image {
  box-shadow: 0 0 2px 1px black;
}

.hobby-list{
  list-style-type: square;
}

.hobby-list li:nth-child(odd) {
  background-color: bisque;
}

nav ul {
  list-style: square;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  background-color: #ddd;
  border: 1px solid #333;
  padding: 8px 12px;
}

nav a:hover,
nav a:focus {
  background-color: #aaa;
}
